@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #4070fa;

}

.containier{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.containier .forms {
    padding: 30px;
}


.containier .forms .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;

}

.forms .title::before{
    
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070fa;
    border-radius: 25px;

}

.forms .input-field{
    
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;

}

.input-field input{
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;

}

.input-field input:is(:focus,:valid){
    border-bottom-color: #4070fa;
}


.input-field i{
    
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #999;
    transition: all 0.2s ease;

}



.input-field input :is(:focus,:valid)~ i{
    border-bottom-color: #4070fa;
}


.input-field i .icon{
    left: 0%;
}


 .input-field .showhide{
    
    margin-left: 340px;

 }


.forms .checkbox-text{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin: _vvf={zxzxf} 8px -2px 4px;
    accent-color: #4070fa;
}